<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
        }

        #chat {
            margin: auto;
            background: #f1f1f1;
            padding: 10px;
            height: 200px;
            width: 300px;
            overflow-y: auto;
            border: 1px solid black;
        }

        input {
            padding: 5px;
            margin: 5px;
        }
        button {
            padding: 5px 10px;
        }
    </style>


</head>
<body>

<h2>Real-Time Chat</h2>

<!-- Username -->
<input id="username" type="text" placeholder="Enter your name"><br><br>

<div id="chat" style="border:1px solid black; height:200px; width:300px; overflow:auto;"></div>

<input id="msg" type="text" placeholder="Type message">
<button onclick="send()">Send</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

<script>
var socket = io();

socket.on('message', function(msg){
    document.getElementById("chat").innerHTML += "<p>"+msg+"</p>";
});

function send(){
    var user = document.getElementById("username").value;
    var m = document.getElementById("msg").value;

    if(user === "" || m === ""){
        alert("Enter username and message");
        return;
    }

    socket.send(user + ": " + m);
    document.getElementById("msg").value = "";
}
</script>

</body>
</html>